# Python
__pycache__
*.pyc
*.egg-info
dist
.venv

# Log
*.log
*.log.*
logs/*
*.json
!playground/deepspeed_config_s2.json
!playground/deepspeed_config_s3.json
outputs/*

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output
output_*
checkpoints_flant5_3b

# Data
*.pkl
tests/state_of_the_union.txt
*.txt

# Build
build

# api secrets
api_secrets.py
